@charset "UTF-8";

#table {
	width: 380px;
	height: 150px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 3px 3px #ccc;
}

#coupon {
	display: block;
	border-bottom: none;
}

#color {
	background-color: #F5EFE6;
}

#form tr:first-child {
	border-top: 2px solid #3C2317; 
}

#btn {
	background-color: #F5EFE6;
}

#btn:hover{background-color:#D9D2CC;}

#bold {
	background-color: #3C2317;
}

#bold:hover{background-color:#804A30;}

#trbold {
	border-bottom: 1px solid #3C2317;
}


