@charset "UTF-8";
/* CSS Document */

/* 공통 */
.wid100P{width: 100% !important;}
.color_black{color: #000 !important;}
.color_red{color: #ff3333 !important;}
.padB10{padding-bottom: 10px;}
.bn_m_block{display: none;}



/* 이벤트 */


.tit_cont h2{overflow: hidden;font-weight:800;color: #333;font-size:36px;letter-spacing:-1px;word-break: keep-all;}
.wrap_contView {
	margin-top: 20px;
}
.list_thumType > li{position: relative; padding: 20px 0 20px; border-bottom: 1px solid #e6e6e6;}
/* .list_thumType > li:first-child{border-top: 1px solid #999;} */
.list_thumType > li.bdr_nor{border-top: 1px solid #e6e6e6;}
.list_thumType{width: 1000px;}
.list_thumType > li .photo{position: absolute;left:0;top:20px; width: 140px;height:94px;}
.list_thumType > li .photo img{width: 140px;height:94px;}
.list_thumType > li .photo a{display: block;}
.list_thumType > li .area_txt{min-height:94px;padding-left:160px;padding-right:20px;}

.list_thumType > li .area_txt .tit{margin-top:-5px;padding-bottom: 5px;}
.list_thumType > li .area_txt .tit a br{display:none;}
.list_thumType > li .area_txt .tit a{overflow:hidden;display: inline-block;width:100%;font-weight:bold;font-size: 20px; color: #000;text-overflow:ellipsis;white-space: nowrap;}
.list_thumType > li .area_txt .tit a em{font-weight:700;color:#ed4956;}
.list_thumType > li .area_txt .tit a:hover{text-decoration: underline;}
.list_thumType > li .area_txt .tit span{display: inline-block; padding-left: 5px; font-size: 16px;}
.list_thumType > li .area_txt p{font-size: 14px;}
/* .area-body {
	position: relative;
}
.area-tag {
	float: left;
	position: fixed;
	top: 300px;
	width: 200px;
	height: 300px;
	background: lightgray;
	border-radius: 50px;
	text-align: center;
	
	
}
.area-tag p{
	color: white;
} */

.area-body {
   position: relative;
}
.area-tag {
   float: left;
   position: fixed;
   top: 200px;
   width: 380px;
   height: 500px;
   background: #EAEAEA;
   border-radius: 10px;
   text-align: center;
   margin-left: 40px; 
   box-shadow: 8px 8px gray;
   
}

.font {
   font-weight: bold;
   font-size: 20px;
   font-family: 'GmarketSans';
   color: black;
}

@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.btn {
   font-family: 'GmarketSans';
   display: inline-block;
}

.gap {
   margin-right: 20px;
}


















    
