@charset "UTF-8";

.ui-datepicker {
	font-size: 20px;
	width: 350px;
}

.ui-datepicker-header {
	background: #FFA7A7;
	color: white;
}

.ui-datepicker select.ui-datepicker-month {
	width: 100px;
	font-size: 20px;
	text-align: center;
}

.ui-datepicker select.ui-datepicker-year {
	width: 100px;
	font-size: 20px;
	text-align: center;
}

.ui-state-default.ui-state-highlight {
	background: #E4FBFF;
	border-color: #0dcaf0;;
}

.ui-datepicker-week-end {
	color: #0dcaf0;;
}

.ui-datepicker select.ui-datepicker-month {
	width: 100px;
	font-size: 20px;
	text-align: center;
} 
.ui-datepicker select.ui-datepicker-year {
	width: 100px;
	font-size: 20px;
	text-align: center;
} 

.ui-state-default.ui-state-highlight {
	background: #E4FBFF;
	border-color: #0dcaf0;
}
