@charset "UTF-8";

/* 카드 박스 */
.shadowBox {
	height: 300px;
	width: 650px;
	background-color: white;
	box-shadow: 10px 10px 10px 10px #eee;
	border-radius: 10px;
	margin: 20px;
}

.shadowBoxContent {
	width: 500px;
	height: 250px;
	margin: 30px;
}

.traveleTitle {
	font-family: HallyM;
	font-weight: 500px;
	size: 45px;
}

.icon {
	width: 25px;
	height: 25px
}