@charset "UTF-8";

/* 이미지 상세 화면  */
.roomInfoImage {
	margin: auto;
	width: 100px;
	height: 100px;
}

/* 인원수 */
.headCount {
	font-weight: 500;
	font-size: 25px;
	text-align: center;
	font-size: 25px;
	font: purple;
	float: right;
	margin-bottom: 10px;
}

/* 객실 정보 */
.eachRoomInfo {
	font-weight: 500;
	font-size: 26px;
}

/* 객실 이름 */
.eachRoomName {
	font-weight: 700;
	font-size: 28px;
}

/* 객실 금액 */
.eachRoomMoney {
	font-weight: 700;
	font-size: 40px;
	color: black;
	text-align: right;
	margin-right: 10px;
}

/* 객실 할인 */
.eachRoomDiscount {
	font-weight: 700;
	font-size: 40px;
	color: PURPLE;
	text-align: right;
	margin-right: 10px;
}

/* 객실 예약 버튼 */
.reservationBtn {
	width: 120px;
	height: 50px;
	float: right;
	margin: 10px;
	background: purple;
	color: white;
	border: none;
	border-radius: 12px;
	font-size: 25px;
}

/* 업체 캐러샐 */
.roomImg {
	width: 1500px;
	height: 1000px;
	margin: auto;
	display: block;
	margin-top: 30px;
	overflow: hidden;
}

.roomInfo {
	margin-left: 10px;
}

.roomDetailInfo {
	float: left;
}

.item {
	font-weight: 900;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

img {
	vertical-align: bottom;
	overflow: hidden;
	object-fit:cover;
	width: 100px;
}

/* 환불 규정 */
.paymentRule {
	color: red;
	float: right;
	font-size: 25px;
}

.modalBox {
	color: grey;
	width: 600px;
	height: 300px;
}

/* 객실 정보의 제목*/
.roomInfoTitle {
	font-size: 35px;
	font-weight: 600;
}

/* 객실 정보의 내용*/
.roomInfoContent {
	font-size: 30px;
	font-weight: 400;
}

/* 주소 */
.address {
	color: #0067A3;
	font-size: 28px;
	font-weight: 500;
}

/* 나의 예약 내역 스타일 */
.body-container {
	max-width: 1500px;
}

.body-title {
	margin-top: 20px;
	margin-bottom: 40px;
}

.list {
	border: 1px solid #ccc;
	border-radius: 8px;
}

.date {
	font-size: 21px;
	font-weight: bold;
}

.img {
	float: left;
}

.body {
	float: left;
	display: inline-block;
}



.body-container {
	max-width: 1500px;
}

.body-main {
	max-width: 900px;
	margin-left: 230px;
}

.body-title {
	margin-top: 20px;
	margin-bottom: 40px;
}

.list {
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-bottom: 50px;
}

.img {
	width: 200px;
	height: 200px;
}

.date {
	font-size: 21px;
	font-weight: bold;
}

.gap {
	margin-bottom: 100px; 
}

.body {
	margin-left: 120px;
	margin-top: 50px;
}

.company {
	font-weight: bold;
	font-size: 20px;
}

.rnum {
	color: #787878;
	font-size: 15px; 
}

.room {
	color: #787878;
	font-size: 16px;
}

.day {
	color: #787878;
	font-size: 15px;
}

.dateBtn {
	width: 300px;
}

.plus1 {
	font-size: 15px;
	color: #787878;
}

.plus2 {
	color: #787878;
}

.paging {
	font-weight: bold; 
	font-size: 18px;
}

.plus {
	text-align: center;
	color: skyblue;
	font-size: 16px;
	margin-bottom: 150px;
}



